*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html{
    height: 100vh ;
    font-size: 15px;
}
body{
    background-color: rgb(15, 15, 15);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    height: 100%;
}
a{
    text-decoration: none;
    color: white;

}
.containner{
    height:100%;
    max-width: 550px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding:45px;
    gap: 20px;
    text-align: center;
    padding:20px;
    color:white;
    
    
}
header{
    
    padding:25px;
    gap: 20px;
    text-align: center;
    
}

header img{
    max-width: 325px;
    margin-bottom:10px ;
}
h1{
    color: rgb(14, 160, 204);
    font-size: 2em;
    margin-bottom: 10px;
}
a.link button{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
    transform: .2s;
    justify-content: space-between;
}
a.link button:hover{
    transform: scale(1.05);

}

section.botoes{
    flex-direction: column; 
    gap:20px;
    display: flex;
    
    
}
.degrade{
    background: linear-gradient(to right, #00BFFF, #87CEFA  )

}
footer{
    margin:30px;
    text-align: center;

}

@media screen and(max-width: 938px) and(min-height:600px){
    header img{
        max-width: 450px;

    }

    }

    


